USE [master]
GO
/****** Object:  Database [Coffee]    Script Date: 5/22/2020 5:07:29 PM ******/
CREATE DATABASE [Coffee]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Coffee', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Coffee.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Coffee_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\Coffee_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Coffee].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Coffee]
GO
/****** Object:  Table [dbo].[BillDetails]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillDetails](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[price] [decimal](8, 0) NOT NULL,
	[quantity] [int] NOT NULL,
	[total] [decimal](8, 0) NOT NULL,
	[BillsId] [int] NOT NULL,
	[ProductsId] [int] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[created_by] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](100) NULL,
 CONSTRAINT [PK_BillDetails] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bills]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bills](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[time_payment] [datetime] NULL,
	[total_money] [decimal](8, 0) NULL,
	[isDeleted] [bit] NOT NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[created_by] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](100) NULL,
	[note] [nvarchar](255) NULL,
 CONSTRAINT [PK_Bills] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cataloges]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cataloges](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[created_by] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](100) NULL,
 CONSTRAINT [PK_Cataloges] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[images] [nvarchar](255) NULL,
	[price] [decimal](8, 0) NOT NULL,
	[unit] [nvarchar](100) NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[deleted_at] [datetime] NULL,
	[deleted_by] [nvarchar](100) NULL,
	[created_at] [datetime] NULL,
	[created_by] [nvarchar](100) NULL,
	[updated_at] [datetime] NULL,
	[updated_by] [nvarchar](100) NULL,
	[CatalogesId] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BillDetails] ON 

INSERT [dbo].[BillDetails] ([id], [price], [quantity], [total], [BillsId], [ProductsId], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by]) VALUES (65, CAST(29000 AS Decimal(8, 0)), 2, CAST(58000 AS Decimal(8, 0)), 42, 77, 0, NULL, NULL, CAST(N'2020-05-22T11:01:16.447' AS DateTime), N'dan', NULL, NULL)
INSERT [dbo].[BillDetails] ([id], [price], [quantity], [total], [BillsId], [ProductsId], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by]) VALUES (66, CAST(29000 AS Decimal(8, 0)), 2, CAST(58000 AS Decimal(8, 0)), 42, 78, 0, NULL, NULL, CAST(N'2020-05-22T11:01:16.447' AS DateTime), N'dan', NULL, NULL)
INSERT [dbo].[BillDetails] ([id], [price], [quantity], [total], [BillsId], [ProductsId], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by]) VALUES (67, CAST(29000 AS Decimal(8, 0)), 3, CAST(87000 AS Decimal(8, 0)), 42, 79, 0, NULL, NULL, CAST(N'2020-05-22T11:01:16.447' AS DateTime), N'dan', NULL, NULL)
SET IDENTITY_INSERT [dbo].[BillDetails] OFF
SET IDENTITY_INSERT [dbo].[Bills] ON 

INSERT [dbo].[Bills] ([id], [time_payment], [total_money], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by], [note]) VALUES (42, CAST(N'2020-05-11T11:01:16.420' AS DateTime), CAST(232000 AS Decimal(8, 0)), 0, NULL, NULL, CAST(N'2020-05-22T11:01:16.420' AS DateTime), N'dan', NULL, NULL, NULL)
INSERT [dbo].[Bills] ([id], [time_payment], [total_money], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by], [note]) VALUES (43, CAST(N'2020-05-12T11:01:26.000' AS DateTime), CAST(712000 AS Decimal(8, 0)), 0, NULL, NULL, CAST(N'2020-05-22T11:01:26.000' AS DateTime), N'dan', NULL, NULL, NULL)
INSERT [dbo].[Bills] ([id], [time_payment], [total_money], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by], [note]) VALUES (44, CAST(N'2020-05-13T11:01:30.843' AS DateTime), CAST(1041000 AS Decimal(8, 0)), 0, NULL, NULL, CAST(N'2020-05-22T11:01:30.843' AS DateTime), N'dan', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Bills] OFF
SET IDENTITY_INSERT [dbo].[Cataloges] ON 

INSERT [dbo].[Cataloges] ([id], [name], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by]) VALUES (2, N'Cà Phê', 0, CAST(N'2020-05-19T16:08:46.570' AS DateTime), N'dan', NULL, NULL, NULL, NULL)
INSERT [dbo].[Cataloges] ([id], [name], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by]) VALUES (4, N'Trà - Macchiato', 0, CAST(N'2020-05-19T16:32:07.447' AS DateTime), N'dan', NULL, NULL, CAST(N'2020-05-20T14:41:47.477' AS DateTime), N'dan')
INSERT [dbo].[Cataloges] ([id], [name], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by]) VALUES (13, N'Bánh - Snack', 0, NULL, NULL, CAST(N'2020-05-20T13:46:58.673' AS DateTime), N'dan', CAST(N'2020-05-20T15:03:33.400' AS DateTime), N'dan')
SET IDENTITY_INSERT [dbo].[Cataloges] OFF
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([id], [name], [images], [price], [unit], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by], [CatalogesId]) VALUES (26, N'Cà phê đen', N'3fbbeb34-a3c4-4762-b601-75bd46ca2916_resize_vnesecoffee.jpg', CAST(29000 AS Decimal(8, 0)), N'ly', 0, CAST(N'2020-05-18T14:29:13.883' AS DateTime), N'dan', CAST(N'2020-05-18T10:12:32.927' AS DateTime), N'dan', CAST(N'2020-05-20T13:52:21.820' AS DateTime), N'dan', 2)
INSERT [dbo].[Products] ([id], [name], [images], [price], [unit], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by], [CatalogesId]) VALUES (51, N'Cà phê sữa', N'3b7e5baa-1953-49a9-afa9-3f30b5aa8ab3_resize_adsd.jpg', CAST(29000 AS Decimal(8, 0)), N'ly', 0, NULL, NULL, CAST(N'2020-05-20T14:20:59.573' AS DateTime), N'dan', NULL, NULL, 2)
INSERT [dbo].[Products] ([id], [name], [images], [price], [unit], [isDeleted], [deleted_at], [deleted_by], [created_at], [created_by], [updated_at], [updated_by], [CatalogesId]) VALUES (52, N'Caramel Macchiato', N'f2a94df8-d8f2-4cf4-a67e-36bd6bf6c04b_resize_caramelmacchiatob6f694f469794e12b04a91845f5fce2dmaster.jpg', CAST(50000 AS Decimal(8, 0)), N'ly', 0, NULL, NULL, CAST(N'2020-05-20T14:22:53.287' AS DateTime), N'dan', CAST(N'2020-05-20T14:23:50.257' AS DateTime), N'dan', 2)
SET IDENTITY_INSERT [dbo].[Products] OFF
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD  CONSTRAINT [FK_BillDetails_Bills] FOREIGN KEY([BillsId])
REFERENCES [dbo].[Bills] ([id])
GO
ALTER TABLE [dbo].[BillDetails] CHECK CONSTRAINT [FK_BillDetails_Bills]
GO
ALTER TABLE [dbo].[BillDetails]  WITH CHECK ADD  CONSTRAINT [FK_BillDetails_Products] FOREIGN KEY([ProductsId])
REFERENCES [dbo].[Products] ([id])
GO
ALTER TABLE [dbo].[BillDetails] CHECK CONSTRAINT [FK_BillDetails_Products]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Cataloges] FOREIGN KEY([CatalogesId])
REFERENCES [dbo].[Cataloges] ([id])
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Cataloges]
GO
/****** Object:  StoredProcedure [dbo].[AddBill]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddBill]
  @created_by nvarchar(100),
  @note nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[Bills]
           ([time_payment],[isDeleted],[created_at],[created_by],[note])
     VALUES
           (GETDATE(),0, GETDATE(),@created_by,@note)
		   Declare @new_identity int;
		SET @new_identity = SCOPE_IDENTITY();
	SELECT @new_identity as id	
END
GO
/****** Object:  StoredProcedure [dbo].[AddBillDetail]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddBillDetail]
  @total decimal(8,0),
  @created_by nvarchar(100),
  @price decimal(8,0),
  @quantity int,
  @BillsId int,
  @ProductsId int
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[BillDetails]
           ([price],[quantity],[total],[BillsId],[ProductsId],[isDeleted],[created_at],[created_by])
     VALUES
           (@price,@quantity,@total,@BillsId,@ProductsId,0,GETDATE(),@created_by)			
END
GO
/****** Object:  StoredProcedure [dbo].[AddCataloges]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddCataloges]
  @name nvarchar(100),
  @created_by nvarchar(100)
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ms nvarchar(100);
	IF EXISTS(Select [name] FROM [Cataloges] WHERE [isDeleted] = 0 AND [name] = @name)
		BEGIN
				SET @ms = 'found'
				SELECT @ms as ms
		END
	ELSE
		BEGIN
			    INSERT [dbo].[Cataloges] ([name], [isDeleted], [created_at], [created_by])
	VALUES (@name, 0, GETDATE(), @created_by)  
		END
END
GO
/****** Object:  StoredProcedure [dbo].[addImage]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[addImage]
@images nvarchar(255),
@id int
AS
BEGIN
	SET NOCOUNT ON;
    UPDATE [Products] SET [images] = @images WHERE [id] = @id AND [isDeleted] = 0
END
GO
/****** Object:  StoredProcedure [dbo].[AddProducts]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddProducts]
  @name nvarchar(100),
  @images nvarchar(255),
  @price decimal(8,0),
  @unit nvarchar(100),
  @created_by nvarchar(100),
  @CatalogesId int
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ms nvarchar(100);
	IF EXISTS(Select [name] FROM [Products] WHERE [isDeleted] = 0 AND [name] = @name AND [CatalogesId] = @CatalogesId)
		BEGIN
				SET @ms = 'found'
				SELECT @ms as ms
		END
	ELSE
		BEGIN
			    INSERT INTO [Products] ([name], [images], [price], [unit], [isDeleted], [created_at], [created_by], [CatalogesId])
				VALUES (@name, @images, @price, @unit, 0, GETDATE(), @created_by, @CatalogesId)
				Declare @new_identity int;
						SET @new_identity = SCOPE_IDENTITY()
				SELECT @new_identity as id
		END
						
END
GO
/****** Object:  StoredProcedure [dbo].[EditBill]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditBill]
  @total_money decimal(8,0),
  @id int
AS
BEGIN
    SET NOCOUNT ON;
		UPDATE [dbo].[Bills]
		   SET [total_money] = @total_money
		 WHERE [id] = @id AND [isDeleted] = 0
END
GO
/****** Object:  StoredProcedure [dbo].[EditCataloges]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditCataloges]
  @name nvarchar(100),
  @updated_by nvarchar(100),
  @id int
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ms nvarchar(100);
	IF EXISTS(Select [name] FROM [Cataloges] WHERE [isDeleted] = 0 AND [name] = @name AND [id] <> @id)
		BEGIN
				SET @ms = 'found'
				SELECT @ms as ms
		END
	ELSE
		BEGIN
			    UPDATE [Cataloges]
				SET [name] = @name, [updated_at] = GETDATE(), [updated_by] = @updated_by
				WHERE [id] = @id AND [isDeleted] = 0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[EditProducts]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EditProducts]
  @name nvarchar(100),
  @images nvarchar(255),
  @price decimal(8,0),
  @unit nvarchar(100),
  @updated_by nvarchar(100),
  @CatalogesId int,
  @id int
AS
BEGIN
    SET NOCOUNT ON;
	DECLARE @ms nvarchar(100);
	IF EXISTS(Select [name] FROM [Products] WHERE [isDeleted] = 0 AND [id] <> @id AND [name] = @name AND [CatalogesId] = @CatalogesId)
		BEGIN
				SET @ms = 'found'
				SELECT @ms as ms
		END
	ELSE
		BEGIN
			    UPDATE [Products]
				SET [name] = @name, [images] = @images, [price] = @price, [unit] = @unit, [updated_at] = GETDATE(), [updated_by] = @updated_by, [CatalogesId] = @CatalogesId
				WHERE [id] = @id AND [isDeleted] = 0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllCataloges]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllCataloges]
AS
BEGIN
    SELECT
        [id], [name]
    FROM
        [Cataloges]
   WHERE [isDeleted] = 0 
   ORDER BY [name];
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllProducts]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllProducts]
AS
BEGIN
    SELECT p.[id], p.[name], p.[images], p.[price], p.[unit], p.[CatalogesId], c.[name] AS CatalogesName
		FROM [Products] p JOIN [Cataloges] c ON p.[CatalogesId] = c.[id]
		WHERE p.[isDeleted] = 0 AND c.[isDeleted] = 0
		ORDER BY [CatalogesId];
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllProductsByCataloges]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllProductsByCataloges]
@CatalogesId int
AS
BEGIN
    SELECT
        [id], [name], [images], [price], [unit], [CatalogesId]
    FROM
        [Products]
   WHERE [isDeleted] = 0 AND [CatalogesId] = @CatalogesId
   ORDER BY [CatalogesId];
END;
GO
/****** Object:  StoredProcedure [dbo].[GetChart7Day]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetChart7Day]
AS
BEGIN
    SELECT total_money FROM Bills WHERE CAST(time_payment as DATE) BETWEEN DATEADD(DD,-7,GETDATE()) AND GETDATE() AND isDeleted = 0
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveCataloges]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveCataloges]
  @username nvarchar(100),
  @id int
AS
BEGIN
    SET NOCOUNT ON;
		BEGIN
			    UPDATE [Cataloges]
				SET [isDeleted] = 1, [deleted_at] = GETDATE(), [deleted_by] = @username
				WHERE [id] = @id AND [isDeleted] = 0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[RemoveProducts]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RemoveProducts]
  @username nvarchar(100),
  @id int
AS
BEGIN
    SET NOCOUNT ON;
		BEGIN
			    UPDATE [Products]
				SET [isDeleted] = 1, [deleted_at] = GETDATE(), [deleted_by] = @username
				WHERE [id] = @id AND [isDeleted] = 0
		END
END
GO
/****** Object:  StoredProcedure [dbo].[test]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[test]
@name nvarchar(100)
AS
BEGIN
    SELECT
        [id], [name]
    FROM
        [Cataloges]
   WHERE [name] LIKE N'%' +@name+'%'
END;
GO
/****** Object:  StoredProcedure [dbo].[test2]    Script Date: 5/22/2020 5:07:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[test2]
  @total decimal(8,0),
  @created_by nvarchar(100),
  @price decimal(8,0),
  @quantity int,
  @ProductsId int
AS
BEGIN
    SET NOCOUNT ON;
	INSERT INTO [dbo].[BillDetails]
           ([price],[quantity],[total],[BillsId],[ProductsId],[isDeleted],[created_at],[created_by])
     VALUES
           (@price,@quantity,@total,15,@ProductsId,0,GETDATE(),@created_by)			
END
GO
USE [master]
GO
