
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section css{
    <link href="~/demo9/plugins/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="~/demo9/assets/css/dashboard/dash_2.css" rel="stylesheet" type="text/css" class="dashboard-sales" />
    <link href="~/css/style.css" rel="stylesheet" type="text/css">
}


<div class="layout-px-spacing">
    <div class="page-header">
        <div class="page-title">
            <h3>Trang Chủ</h3>
        </div>
    </div>
    <div class="row layout-top-spacing">
        <div class="col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-chart-one">
                <div class="widget-heading">
                    <h5 class="">Doanh Thu</h5>
                </div>
                <div class="widget-content">
                    <div class="tabs tab-content">
                        <div id="content_1" class="tabcontent">
                            <div id="revenueWeek"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-chart-two">
                <div class="widget-heading">
                    <h5 class="">Số Lượng Order Theo <span style="color: #d856da">Danh Mục</span></h5>
                </div>
                <div class="widget-content">
                    <div id="orderCataloges" class=""></div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-chart-three">
                <div class="widget-heading" style="border-bottom: 1px dashed #e0e6ed; padding: 20px 20px; padding-top: 0;">
                    <div class="">
                        <h5 class="">Unique Visitors</h5>
                    </div>
                </div>
                <div class="widget-content">
                    <div id="uniqueVisits"></div>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 col-12 layout-spacing">
            <div class="widget widget-table-three">
                <div class="widget-heading">
                    <h5 class="">Top Sản Phẩm Bán Chạy</h5>
                </div>
                <div class="widget-content">
                    <div class="table-responsive">
                        <table class="table" id="zero-config">
                            <thead>
                                <tr>
                                    <th class="no-content"></th>
                                    <th>Tên Sản Phẩm</th>
                                    <th>Giá Bán</th>
                                    <th>Số Lượng</th>
                                    <th>Tổng Tiền</th>
                                </tr>
                            </thead>
                            <tbody id="tbList"></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="~/demo9/plugins/apex/apexcharts.min.js"></script>
    <script src="~/demo9/assets/js/dashboard/dash_2.js"></script>
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="~/AdminLTE-3.0.4/plugins/moment/moment.min.js"></script>
    <script type="text/javascript">
        var ChartsAPI = "@Url.Action("GetChart7Day", "ChartsAPI")";
    </script>
    <script src="~/js/lib.js"></script>
    <script src="~/js/chart.js"></script>
}
