#createBtn {
    margin-left: auto;
    margin-right: 1%;
}

#blah {
    max-width: 100%;
    opacity: 0;
    position: relative;
}

#eblah {
    max-width: 100%;
    opacity: 0;
    position: relative;
}


