/** {
    box-sizing: border-box
}

#blah {
    max-width: 100%;
    opacity: 0;
    position: relative;
}

#eblah {
    max-width: 100%;
    opacity: 0;
    position: relative;
}

.table thead th {
    text-align: center;
}

.table tbody tr td {
    text-align: center;
}

.card {
    width: 100%;
    border: none;
}

.card-header {
    border: none;
}

.col-sm-2, .col-sm-9 {
    float: left;
}

.edit-btn, .delete-btn {
    margin-right: 7px;
    font-size: 16px;
    color: #0062cc;
}

.error {
    color: red;
    font-size: 0.8rem;
}

.width10Percent {
    width: 10% !important;
}

.table td, .table th {
    width: auto !important;
}*/

.table-controls {
    padding: 0;
    margin: 0;
    list-style: none;
}

    .table-controls > li {
        display: inline-block;
        margin: 0 2px;
        line-height: 1;
    }

        .table-controls > li > a {
            display: inline-block;
        }

            .table-controls > li > a i {
                margin: 0;
                color: #555;
                font-size: 16px;
                display: block;
            }

                .table-controls > li > a i:hover {
                    text-decoration: none;
                }


tbody .table-controls li:hover .row-edit {
    color: #41de1a;
    fill: rgba(0, 23, 55, 0.08);
}
tbody .table-controls li:hover .row-delete {
    color: #e7515a;
    fill: rgba(0, 23, 55, 0.08);
}

.edit-cancel:hover {
    color: #e551e7;
    fill: rgba(0, 23, 55, 0.08);
}

.edit-ok:hover {
    color: #63c0f7;
    fill: rgba(0, 23, 55, 0.08);
}


.table td, .form-group label:first-child{
    color: black !important;
}
.error {
    color: #dc3545 !important;
}

input.error {
    border: 1px solid #dc3545 !important;
}


    .table td svg {
        /*fill: rgba(0, 23, 55, 0.08);*/
    }