@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section css{
    @*<link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/daterangepicker/daterangepicker.css">*@
    <link rel="stylesheet" href="~/daterangepicker-0.1.0/dist/daterangepicker.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    @*<link href="https://nightly.datatables.net/css/jquery.dataTables.css" rel="stylesheet" type="text/css" />*@

    <style>

        td.details-control {
            background: url('/images/details_open.png') no-repeat center center;
            cursor: pointer;
        }

        tr.shown td.details-control {
            background: url('/images/details_close.png') no-repeat center center;
        }
    </style>
}

@*<section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thống Kê</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Thống Kê</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>*@

<div class="page-header">
    <div class="page-title">
        <h3>Thống Kê</h3>
    </div>
</div>



<div class="row layout-top-spacing" id="cancel-row">
    <div class="col-xl-12 col-lg-12 col-sm-12">
        <div class="widget-content widget-content-area br-6">
            <div class="row">
                <div class="col-3">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Tìm theo khoảng ngày</h3>
                        </div>
                        <div class="card-body">
                            <!-- Date range -->
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="far fa-calendar-alt"></i>
                                        </span>
                                    </div>
                                    <input type="text" class="form-control float-right" id="dateRangepicker">
                                    @*<button class="text-muted" id="dateRangepickerBtn">
                                <i class="fas fa-search"></i>
                            </button>*@
                                </div>
                                <!-- /.input group -->
                            </div>
                            <!-- /.form group -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>


                <div class="col-3">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Doanh thu</h3>
                        </div>
                        <div class="card-body">
                            <!-- Date range -->
                            <div class="form-group">
                                <h2 id="revenue"></h2>
                            </div>
                            <!-- /.form group -->
                        </div>
                        <!-- /.card-body -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="row layout-top-spacing" id="cancel-row">
    <div class="col-xl-12 col-lg-12 col-sm-12  layout-spacing">
        <div class="widget-content widget-content-area br-6">
            <div class="row">
                <div class="col-10">
                    <h4>Hóa Đơn</h4>
                </div>
                <div class="col-2">
                    <a class="btn btn-primary border-0 float-right" href="javascript:;" id="excelBtn">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-download"><path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4"></path><polyline points="7 10 12 15 17 10"></polyline><line x1="12" y1="15" x2="12" y2="3"></line></svg>
                        Xuất excel
                    </a>
                </div>
            </div>
            <div class="table-responsive mb-4 mt-4">
                <table id="zero-config" class="table table-hover" style="width:100%">
                    <thead>
                        <tr>
                            <th class="no-content"></th>
                            <th>Id</th>
                            <th>Thu ngân</th>
                            <th>Ghi chú</th>
                            <th>Thời gian thanh toán</th>
                            <th>Tổng tiền</th>
                        </tr>
                    </thead>
                    <tbody id="tbList"></tbody>
                </table>
            </div>
        </div>
    </div>

</div>





@section scripts{
    <script src="~/AdminLTE-3.0.4/plugins/moment/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.5.1/knockout-latest.min.js"></script>
    <script src="~/daterangepicker-0.1.0/dist/daterangepicker.min.js"></script>
    <script type="text/javascript">
        var GetAllBills = "@Url.Action("GetAllBills", "StatisticAPI")";
    </script>
    <script src="~/js/lib.js"></script>
    <script src="~/js/statistical.js"></script>
    @*<script src="~/js/chart.js"></script>*@
}