
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/css/order.css">
</head>
<body>
    <div class="row">
        <div class="col-8">
            <section class="portfolio section">
                <div class="container">
                    <div class="filters">
                        <ul></ul>
                    </div>

                    <div class="filters-content">
                        <div class="row">
                        </div>
                    </div>


                </div>
            </section>
        </div>


        <div class="col-4" style="background: bisque;">
            <div id="billDetail">
                <div class="topBtn">
                    <button class="btn btn-link discard">
                        Xóa Tất Cả
                    </button>

                    <a href="cp/products" class="btn btn-link discard float-right">Admin</a>
                </div>
                <div class="sell-item-list">
                    @*<div class="sell-item">
                            <div class="item-thumb-pic">
                                <div class="item-thumb-pic-center">
                                    <img src="uploads/products/77/2c81fe9f-74a1-4fd6-a072-8b7c5b635c5a_resize_trungmui19abf7c43946b44e9948dbac1eff95e40master.jpg" alt="Work 1">
                                </div>
                            </div>

                            <div class="sell-item-details">
                                <div class="sell-item-box-wrap">
                                    <div class="sell-item-content">
                                        <div class="sell-item-content-name">
                                            Bánh Bông Lan Trứng Muối
                                        </div>
                                        <div class="sell-item-content-quantity">
                                            <span class="sell-item-quantity">1</span>
                                        </div>
                                        <div class="sell-item-content-price">
                                            10.000 VND
                                        </div>
                                    </div>
                                    <div class="sell-item-action">
                                        <a href="javascript:;"><i class="fas fa-times"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="sell-item">
                            <div class="item-thumb-pic">
                                <div class="item-thumb-pic-center">
                                    <img src="uploads/products/77/2c81fe9f-74a1-4fd6-a072-8b7c5b635c5a_resize_trungmui19abf7c43946b44e9948dbac1eff95e40master.jpg" alt="Work 1">
                                </div>
                            </div>

                            <div class="sell-item-details">
                                <div class="sell-item-box-wrap">
                                    <div class="sell-item-content">
                                        <div class="sell-item-content-name">
                                            Bánh Bông Lan Trứng Muối
                                        </div>
                                        <div class="sell-item-content-quantity">
                                            <span class="sell-item-quantity">1</span>
                                        </div>
                                        <div class="sell-item-content-price">
                                            10.000 VND
                                        </div>
                                    </div>
                                    <div class="sell-item-action">
                                        <a href="javascript:;"><i class="fas fa-times"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="sell-item">
                            <div class="item-thumb-pic">
                                <div class="item-thumb-pic-center">
                                    <img src="uploads/products/77/2c81fe9f-74a1-4fd6-a072-8b7c5b635c5a_resize_trungmui19abf7c43946b44e9948dbac1eff95e40master.jpg" alt="Work 1">
                                </div>
                            </div>

                            <div class="sell-item-details">
                                <div class="sell-item-box-wrap">
                                    <div class="sell-item-content">
                                        <div class="sell-item-content-name">
                                            Bánh Bông Lan Trứng Muối
                                        </div>
                                        <div class="sell-item-content-quantity">
                                            <span class="sell-item-quantity">1</span>
                                        </div>
                                        <div class="sell-item-content-price">
                                            10.000 VND
                                        </div>
                                    </div>
                                    <div class="sell-item-action">
                                        <a href="javascript:;"><i class="fas fa-times"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="sell-item">
                            <div class="item-thumb-pic">
                                <div class="item-thumb-pic-center">
                                    <img src="uploads/products/77/2c81fe9f-74a1-4fd6-a072-8b7c5b635c5a_resize_trungmui19abf7c43946b44e9948dbac1eff95e40master.jpg" alt="Work 1">
                                </div>
                            </div>

                            <div class="sell-item-details">
                                <div class="sell-item-box-wrap">
                                    <div class="sell-item-content">
                                        <div class="sell-item-content-name">
                                            Bánh Bông Lan Trứng Muối
                                        </div>
                                        <div class="sell-item-content-quantity">
                                            <span class="sell-item-quantity">1</span>
                                        </div>
                                        <div class="sell-item-content-price">
                                            10.000 VND
                                        </div>
                                    </div>
                                    <div class="sell-item-action">
                                        <a href="javascript:;"><i class="fas fa-times"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="sell-item">
                            <div class="item-thumb-pic">
                                <div class="item-thumb-pic-center">
                                    <img src="uploads/products/77/2c81fe9f-74a1-4fd6-a072-8b7c5b635c5a_resize_trungmui19abf7c43946b44e9948dbac1eff95e40master.jpg" alt="Work 1">
                                </div>
                            </div>

                            <div class="sell-item-details">
                                <div class="sell-item-box-wrap">
                                    <div class="sell-item-content">
                                        <div class="sell-item-content-name">
                                            Bánh Bông Lan Trứng Muối
                                        </div>
                                        <div class="sell-item-content-quantity">
                                            <span class="sell-item-quantity">1</span>
                                        </div>
                                        <div class="sell-item-content-price">
                                            10.000 VND
                                        </div>
                                    </div>
                                    <div class="sell-item-action">
                                        <a href="javascript:;"><i class="fas fa-times"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="sell-item">
                            <div class="item-thumb-pic">
                                <div class="item-thumb-pic-center">
                                    <img src="uploads/products/77/2c81fe9f-74a1-4fd6-a072-8b7c5b635c5a_resize_trungmui19abf7c43946b44e9948dbac1eff95e40master.jpg" alt="Work 1">
                                </div>
                            </div>

                            <div class="sell-item-details">
                                <div class="sell-item-box-wrap">
                                    <div class="sell-item-content">
                                        <div class="sell-item-content-name">
                                            Bánh Bông Lan Trứng Muối
                                        </div>
                                        <div class="sell-item-content-quantity">
                                            <span class="sell-item-quantity">1</span>
                                        </div>
                                        <div class="sell-item-content-price">
                                            10.000 VND
                                        </div>
                                    </div>
                                    <div class="sell-item-action">
                                        <a href="javascript:;"><i class="fas fa-times"></i></a>
                                    </div>
                                </div>

                            </div>
                        </div>*@
                </div>

                <div class="detail-section">
                    <div class="detail-section-note">
                        <input type="text" placeholder="Ghi Chú" />
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="text-bold">Total</td>
                                <td class="text-right">0 VND</td>
                            </tr>
                        </tbody>
                    </table>
                    @*<div class="border border-grey margin-top-15"></div>*@
                    <button class="btn btn-block btn-xlarge green-meadow">
                        <div class="float-left">
                            Pay
                        </div>

                        <div class="float-right">
                            0 VND
                        </div>
                    </button>
                </div>



            </div>
        </div>



    </div>


    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script type="text/javascript">
       var GetCataloge = "@Url.Action("GetAllCataloge", "CatalogesAPI")";
        var GetProduct = "@Url.Action("GetAllProducts", "ProductsAPI")";
        var PostOrder = "@Url.Action("PostOrder", "OrderAPI")";
    </script>
    <script src="~/js/lib.js"></script>
    <script src="~/js/order.js"></script>
</body>
</html>
