
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <link rel="stylesheet" href="~/AdminLTE-3.0.4/dist/css/adminlte.min.css">
    <link rel="stylesheet" href="~/css/order.css">
</head>
<body>
    <div class="row">
        <div class="col-8">
            <section class="portfolio section">
                <div class="container">

                    @*<div class="filters">
                            <ul>
                                <li class="active" data-filter="*">All</li>
                                <li data-filter=".corporate" class="">Corporate</li>
                                <li data-filter=".personal" class="">Personal</li>
                                <li data-filter=".agency" class="">Agency</li>
                                <li data-filter=".4" class="">4</li>
                            </ul>
                        </div>*@

                    <div class="filters">
                        <ul>
                            @*<li data-filter="*" class="active">All</li>
                                <li data-filter=".corporate" class="">Corporate</li>
                                <li data-filter=".personal" class="">Personal</li>
                                <li data-filter=".agency" class="">Agency</li>
                                <li data-filter=".4" class="">4</li>*@
                        </ul>
                    </div>

                    <div class="filters-content">
                        <div class="row grid d-flex" style="position: relative; height: 708.094px;">

                            @*<div class="col-sm-2 all corporate">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">Corporate</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all personal">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">Personal</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all agency">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">Agency</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all 4">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">4</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all 4">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">4</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all 4">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">4</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all 4">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">4</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all 4">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">4</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all 4">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">4</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all 4">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">4</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all 4">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">4</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all 4">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">4</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 all 4">
                                        <div class="item">
                                            <img src="http://themes.muffingroup.com/betheme/documentation/doc-images/muffin-options/custom-js.png" alt="Work 1">
                                            <div class="p-inner">
                                                <h5>Work 1</h5>
                                                <div class="cat">4</div>
                                            </div>
                                        </div>
                                    </div>

                                </div>*@
                        </div>

                    </div>

                </div>
            </section>
        </div>
        <div class="col-4" style="background: bisque;">
        </div>
    </div>


    <script src="~/AdminLTE-3.0.4/plugins/jquery/jquery.min.js"></script>
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <script type="text/javascript">
       var GetCataloge = "@Url.Action("GetAllCataloge", "CatalogesAPI")";
       var GetProduct = "@Url.Action("GetAllProducts", "ProductsAPI")";
    </script>
    <script src="~/js/order.js"></script>
</body>
</html>
